<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      How Brown’s campus and property holdings have changed, from 1770 to today
    </title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mxr8glf.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./jquery-3.6.1.min.js"></script>
    <script type="module" src="js/script.js"></script>
  </head>

  <body id="body">
    <!-- <div id="debug-overlay"></div> -->
    <div id="year-1" class="year"></div>
    <div id="year-2" class="year"></div>

    <div id="header">
      <div>
        <a href="https://browndailyherald.com" style="align-self: center">
          <img
            id="logo"
            src="https://d35jcxe8no8yhr.cloudfront.net/bd1083f144117cb1524cb7fc30c4765d/dist/img/logo-black.png"
            style="max-width: 32em; align-self: center"
          />
        </a>
      </div>

      <div id="intro-section1" class="body-text">
        <div id="intro-graf1" class="over-map">
          <p>
            Today, Brown owns over
            <a
              href="https://www.brown.edu/Facilities/Facilities_Management/maps/#type/BUILDINGS"
              >230</a
            >
            buildings in Providence. Recent acquisitions have been concentrated
            in the Jewelry District, representing a new era of growth for the
            University off College Hill and into downtown.
          </p>
          <p>But the campus wasn’t always so expansive.</p>
          <p
            style="
              text-align: center;
              font-weight: bold;
              margin-bottom: 0;
              margin-top: 2em;
            "
            class="js-only"
          >
            &darr; SCROLL &darr;
          </p>
        </div>
        <p id="enableJS">
          Please enable JavaScript and reload this page for the best experience.
        </p>

        <script>
          enableJS.remove();
          const userAgent = navigator.userAgent;

          if (
            userAgent.indexOf("Safari") > -1 &&
            userAgent.indexOf("Chrome") === -1
          ) {
            if (userAgent.indexOf("Version/") > -1) {
              const safariVersion = parseInt(
                userAgent.split("Version/")[1].split(" ")[0].split(".")[0]
              );
              if (safariVersion <= 14) {
                document.write(/* HTML */ `
                  <div
                    class="over-map"
                    style="background: #7e0101; font-weight: bold; margin-top: 10vh !important; margin-bottom: 10vh;"
                  >
                    <p>
                      Unfortunately, this interactive does not work on Safari 14
                      or older. Please update your version of Safari or use a
                      different browser.
                    </p>
                  </div>
                `);
              }
            }
          }
        </script>
      </div>
    </div>

    <div id="hed">
      <div id="headline-wrapper">
        <h1>
          How Brown’s campus and property holdings have changed, from 1770 to
          today
        </h1>
      </div>

      <div class="byline">
        <p>
          Reporting by
          <a href="https://www.browndailyherald.com/staff/willkubzansky"
            >Will&nbsp;Kubzansky</a
          >,
          <a href="https://www.browndailyherald.com/staff/katy-pickens"
            >Katy&nbsp;Pickens</a
          >, and
          <a href="https://www.browndailyherald.com/staff/rhea-rasquinha"
            >Rhea&nbsp;Rasquinha</a
          >
        </p>
        <p>
          Web design & layout by
          <a href="https://www.browndailyherald.com/staff/ashley-cai"
            >Ashley&nbsp;Cai</a
          >,
          <a href="https://www.browndailyherald.com/staff/jed-fox"
            >Jed&nbsp;Fox</a
          >
          and&nbsp;<a href="https://www.browndailyherald.com/staff/neil-mehta"
            >Neil&nbsp;Mehta</a
          >
        </p>
        <p>
          Additional reporting by
          <a href="https://www.browndailyherald.com/staff/stella-chen"
            >Stella&nbsp;Chen</a
          >
        </p>
        <p style="font-weight: bold">
          <time datetime="2022-12-13">
            December 13<sup style="margin-right: -0.1em">th</sup>, 2022
          </time>
        </p>
      </div>
    </div>

    <div id="content">
      <div class="over-map" id="intro-graf2">
        <p>
          Below, The Herald has mapped the University’s property purchases and
          some of its sales from its founding in 1764 to its present-day
          footprint. Brown first purchased property in 1770.
        </p>

        <p>
          Information comes from the Brown Real Estate Office archives; the
          Brown Office of Facilities Management; the Encyclopedia Brunoniana;
          Herald archives; the John Hay Library's special collections; the
          Providence Journal archives; the Providence Preservation Society's
          Most Endangered Properties lists; the Providence Public Library's
          atlas collection; and the Rhode Island State Archives at the office of
          the Department of State.
        </p>

        <p>
          The information below is imperfect, especially predating 2002, which
          was the first year Providence began publishing its complete
          <a href="https://data.providenceri.gov/browse?q=property+tax+roll"
            >property tax rolls</a
          >
          online. The maps from 1770 to 2000 include confirmed purchase years of
          many specific properties. Other properties that appear on the map do
          not match the exact boundaries of land the University purchased, but
          we know Brown must have acquired those parcels because University
          buildings stand there today.
        </p>

        <p>
          These maps almost assuredly miss a few buildings and properties
          without records in the archives. Still, they show the breadth of the
          University’s expansion to new blocks and corners of the city over the
          past centuries.
        </p>

        <p>
          If you have a correction, addition or knowledge of when Brown acquired
          certain properties, please email
          <a href="mailto:herald@browndailyherald.com"
            >herald@browndailyherald.com</a
          >.
        </p>
      </div>

      <div class="over-map" id="intro-graf3">
        <p>
          Brown’s original campus spanned two adjacent lots including what is
          now the Quiet Green, Main Green and Ruth J. Simmons Quadrangle. At
          this time, there were no paved roads, so the true boundaries of campus
          may have not aligned exactly with its contemporary confines.
        </p>
      </div>

      <div class="over-map" id="intro-graf4">
        <p>
          Between 1770 and 1900, the outline of Brown beyond its original campus
          began to take shape. The University bought the land for its first
          building on what is now the Pembroke campus in 1895. In this era, it
          also acquired Pembroke Field, land on Thayer Street and land that
          would become the Brown Stadium. Between 1770 and 1900, the University
          sold some properties that were on its original campus. While they
          bought some back, others remain independently owned to this day.
        </p>
      </div>

      <div class="over-map" id="intro-graf5">
        <p>
          The early 20th century saw campus expansion to make room for the
          Women’s College, later
          <a href="https://www.brown.edu/about/history/timeline/">renamed</a>
          Pembroke College. Sayles Gym — now Smith-Buonanno Hall — and much of
          the land that would become Andrews Hall were acquired by the
          University in this time frame.
        </p>
      </div>

      <div class="over-map" id="intro-graf6">
        <p>
          President Henry Wriston, who held his position from 1937 to 1955, made
          rapid and extensive campus expansion a key priority for the
          University. Brown gradually bought the homes and buildings on the land
          of what would soon become Wriston Quadrangle and Keeney Quadrangle.
        </p>
      </div>

      <div class="over-map" id="intro-graf7">
        <p>
          By 1960, the University’s two largest residential quads — Wriston and
          Keeney — were complete.
        </p>
        <p>
          Farview, Inc., a nonprofit corporation legal entity entirely owned by
          the University, was incorporated in 1958. This subsidiary helped
          facilitate the purchase of properties that either remained commercial
          or taxable or were later demolished for future projects. The
          University also acquired much of the land that would eventually become
          the Life Sciences Quad and Barus and Holley.
        </p>
      </div>

      <div class="over-map" id="intro-graf8">
        <p>
          By the mid-1960s, Farview was listed as the owner of 15 to 20
          properties in Providence. In the decades prior to 1980, Brown leased
          out several properties on John Street. Students were increasingly
          opting to live off-campus and spreading into Fox Point, contributing
          to rising rents and displacement, The Herald previously
          <a
            href="https://www.browndailyherald.com/article/2022/04/we-didnt-choose-to-be-neighbors-a-history-of-browns-property-impact-on-the-east-side"
            >reported</a
          >.
        </p>

        <p>
          The University took on more non-educational and commercial properties,
          looking ahead to bigger plans and future dorms.
        </p>

        <p>
          “The issue,” President Barnaby Keeney told The Herald during a
          <a href="https://repository.library.brown.edu/studio/item/bdr:982475/"
            >1962 dispute</a
          >
          about the construction of Barus and Holley, “is essentially whether
          Brown goes up in the air, spreads out more or stands still. We are
          quite prepared to operate under city policies that will permit us to
          go up or spread out. If the pressure on the University is to stand
          still, we shall have to resist.”
        </p>
      </div>

      <div class="over-map" id="intro-graf9">
        <p>
          In the 1980s, the University acquired the final buildings on the block
          that would become the Vartan Gregorian Quadrangle, which opened in
          1991.
        </p>

        <p>
          In the 1990s, through purchases made by Farview, Brown also acquired
          the strip mall on Brook Street, which included Bagel Gourmet, East
          Side Mini-Mart and a police station. These structures were
          <a
            href="https://www.browndailyherald.com/article/2021/10/demolition-for-brook-street-dorm-to-begin-mid-october"
            >demolished</a
          >
          in fall 2021 to make way for the Brook Street Dormitories, indicating
          the long-term lens the University has taken with acquiring and
          developing property.
        </p>
      </div>

      <div class="over-map" id="intro-graf10">
        <p>
          In the 2000s, Brown began a conscious effort to expand off College
          Hill. In President Ruth J. Simmons’s
          <a href="https://www.brown.edu/web/pae/plan.html"
            >Plan for Academic Enrichment</a
          >
          — among the first public-facing University plans that explicitly
          called for expansion beyond College Hill — the University set its
          sights upon the Jewelry District, where it has expanded its research
          facilities, medical school, office of admission and more.
        </p>

        <p>
          In 2014, the administration of President Christina Paxson P’19
          launched the
          <a href="https://distinction.brown.edu/">Building on Distinction</a>
          plan, a strategic initiative for campus development and growth in
          pursuit of Brown’s academic mission.
        </p>

        <p>
          In 2019, the University dissolved Farview. Since then, the University
          has converted much of its once-commercial property into student
          housing — tearing down houses and a strip mall on several distinct
          blocks of Brook Street to create Sternlicht Commons and the Brown University Health & Wellness Center.
        </p>

        <p>
          Over the decades, the University has also sold many properties. The information for some sales is readily available, but other records were less accessible. While some sold properties disappear throughout these maps, others that appeared consistently disappear in the 2002 map, indicating that they were sold by that point.
        </p>
      </div>
      <div id="map-slider" style="height: 110vh">
        <h3
          style="
            margin-top: 2em;
            padding: 0.5em 0.5em 0.3em;
            background: var(--offwhite);
            border-radius: 0.5em;
            border: 2px solid rgba(0, 0, 0, 0.1);
          "
        >
          Drag the handle below to see Brown's property holdings from 2002 to
          2022.
        </h3>
        <input
          id="slider"
          type="range"
          min="2002"
          max="2022"
          value="2002"
          step="2"
        />
        <div id="slider-year" class="year">2002</div>
      </div>

      <div id="main-content">
        {% separator 'top' %}

        <p>
          Today, acquisitions on College Hill are “less frequent, because
          there's less available space,” said Executive Vice President for
          Planning and Policy Russell Carey ’91. The Jewelry District has seen
          more University expansion because of land made available by the 2009
          <a
            href="https://www.nytimes.com/2009/11/11/realestate/commercial/11iway.html"
            >relocation</a
          >
          of the I-195 highway.
        </p>

        <p>
          The Paxson administration has sought to build upon the Simmons
          administration’s strategic plan, Carey explained, in an effort “to
          fulfill our academic mission and (have) excellent and adequate
          facilities in order to do that.”
        </p>

        <p>
          “Being a residential university and a research-intensive university
          comprises a significant need for space,” Carey said.
        </p>

        <p>
          The University currently holds a mix of institutional and commercial
          properties. Its “primary mission is not commercial activity,” Carey
          said, adding that there are “a mix of reasons” for the University’s
          ownership of commercial entities. “We’re not running large commercial
          enterprises or seeking to do so.”
        </p>

        <p>
          On Thayer Street, the University is the landlord for shops such as
          Insomnia Cookies, Berk’s and Warby Parker. According to Carey, Brown
          has been “actively involved for decades” with the Thayer Street
          District Management Association and has representatives on the board.
        </p>

        <p>
          Over the last 20 years, the University has sold as much or more
          property compared to its acquisitions, Carey said, as part of a
          “conscious effort … to identify properties that are not critical to
          the (University’s) mission and can be better utilized in other ways.”
          That includes the
          <a
            href="https://www.brown.edu/offices/real-estate/brown-brown-home-ownership"
            >Brown to Brown</a
          >
          program — which renovates and sells homes to Brown community members —
          and the 2019 sale of former University property that is now
          Narragansett Brewery.
        </p>

        {% separator 'tax-footprint' %}

        <h2>Brown’s tax footprint</h2>

        <p>
          Institutional properties — including dormitories, academic buildings
          and dining halls — are property tax-exempt because of their academic
          use. Commercial properties owned by Brown — such as the Brown
          Bookstore and Hemenway’s restaurant — are taxed.
        </p>

        <p>
          Carey explained that while Brown’s institutional tax-exempt status is
          crucial to its nonprofit mission, the University is “extraordinarily
          aware and sensitive” of the importance of property tax revenue for
          Providence. Brown would generate close to $50 million for Providence
          if taxed at the commercial rate, according to a January 2022 report
          from the
          <a
            href="https://www.browndailyherald.com/article/2022/02/payments-for-tax-exempt-properties-reconsidered"
            >Providence Financial Department</a
          >.
        </p>

        <p>
          In fiscal year 2021, Brown paid over $4.3 million in transition and
          voluntary payments and $1.9 million in property taxes for commercial
          buildings, The Herald
          <a
            href="https://www.browndailyherald.com/article/2022/02/payments-for-tax-exempt-properties-reconsidered"
            >previously reported</a
          >.
        </p>

        <p>
          The University is “very committed to the financial sustainability and
          success of the city of Providence,” he said. Currently, Brown has two
          agreements addressing tax-exemption in place with the city: the 2003
          <a href="https://www.brown.edu/gcr/sites/gcr/files/2003_MOU.pdf"
            >Memorandum of Understanding</a
          >
          and the 2012
          <a href="https://www.brown.edu/gcr/sites/gcr/files/2012_MOA.pdf"
            >Memorandum of Agreement</a
          >, which both expire next January, The Herald
          <a
            href="https://www.browndailyherald.com/article/2022/02/payments-for-tax-exempt-properties-reconsidered"
            >previously reported</a
          >.
        </p>

        <p>
          The 2003 agreement, which includes all private nonprofit institutions
          in Providence, effectively allows nonprofits to hold taxable
          commercial property under their own name and still pay taxes. The
          agreement binds the nonprofits to a 15-year phase-out period “when
          properties are acquired that were tax-generating … become tax-exempt,”
          Carey said.
        </p>

        <p>
          By introducing this phase-out process, the need for Farview — which
          kept properties on the tax roll that were not transferred to the
          University and made tax-exempt — became “less and less pressing,”
          Carey said.
        </p>

        <p>
          The 2003 MOU included 20 years of cash payments “directly to the city
          from Brown,” Carey explained. The 2012 MOA also required “cash
          payments to the city every year.” Renegotiations for the agreements in
          January are a “high priority for the institutions and the incoming
          mayor,” Carey said.
        </p>

        <p>
          With these agreements, Farview “had less utility and wasn’t
          necessary,” leading to its 2019 dissolution, Carey explained.
          Properties previously owned by Farview that the University has not
          sold are still owned by the University, and commercial properties
          continue to be taxed.
        </p>

        <figure>
          <img src="images/pilotprotest.jpg" />
          <figcaption>
            In 2012, Providence firefighters and police officers protested
            outside Hemenway’s to call upon the University to increase its
            voluntary payments to the city.
            <cite
              ><a href="https://www.browndailyherald.com/staff/danalexander"
                >Dan Alexander</a
              >
              / Herald</cite
            >
          </figcaption>
        </figure>

        <p>
          To secure financing to renovate the building that is now the Warren
          Alpert Medical School, build a park and create a police substation,
          the University established another subsidiary in 2010, Karing, Inc.,
          University Spokesperson Brian Clark wrote in an email to The Herald.
          It was also dissolved in 2019.
        </p>

        <p>
          When the University acquired River House in 2021, Carey said it
          created a specific subsidiary: River House Holdings 1, LLC. Since the
          property had a
          <a
            href="https://www.browndailyherald.com/article/2021/07/brown-purchases-river-house-to-turn-into-graduate-student-housing"
            >pre-existing</a
          >
          tax-stabilization agreement which Brown assumed, establishing the
          subsidiary made it “very clear that we were going to honor” the TSA,
          he added.
        </p>

        <p>
          Apart from River House Holdings 1, LLC, the University does not see
          any need for “having a standing separate but wholly owned entity just
          for” commercial holdings and expansion, Carey explained. “That’s why
          we closed (Farview) down.”
        </p>

        {% separator 'community-impact' %}

        <h2>Community impact</h2>

        <p>
          “It appears to us that Brown views the properties it owns as” part of
          Brown’s campus, said Brent Runyon, executive director of the
          Providence Preservation Society. “I think many people would agree that
          one of the most attractive features of Brown is that it is …
          integrated into the surrounding neighborhood of College Hill.”
        </p>

        <p>
          With this disconnect, Brown seems “to have very low regard for the
          <a href="https://guide.ppsri.org/list/college-hill-national-hd"
            >College Hill National Historic District</a
          >,” Runyon said.
        </p>

        <p>
          Though the University has previously physically relocated several of
          its
          <a href="https://www.brown.edu/news/2018-12-17/sharpe">historic </a
          >buildings, those opportunities have diminished. There just isn&#39;t
          that much open space,” Runyon said.
        </p>

        <p>“Expansion has been aggressive,” he added.</p>

        <p>
          Runyon said some of Brown’s acquisitions and replacements — like fast
          food restaurants and a gas station on Angell Street — were beneficial.
          But other efforts, like a
          <a
            href="https://www.browndailyherald.com/article/2018/02/university-changes-site-for-performing-arts-center"
            >failed</a
          >
          plan to demolish buildings including the Urban Environmental Lab for
          the Lindemann Performing Arts Center “really disregard the
          neighborhood, and so there is a lot of friction between neighbors,” he
          said.
        </p>

        <p>
          Historic districts and other preservation measures are in place but do
          not protect all properties. The
          <a
            href="https://www.browndailyherald.com/article/2021/07/college-hill-historic-district-expansion-passes-despite-prior-university-objections"
            >2021 historic district overlay</a
          >
          expansion included three Brown properties, down from the 21 in the
          original proposal, The Herald
          <a
            href="https://www.browndailyherald.com/article/2021/02/university-expresses-opposition-to-historic-district-ordinance-at-public-hearing"
            >previously reported</a
          >.
        </p>

        <p>
          Runyon, as well as Nick Cicchitelli, president of the Fox Point
          Neighborhood Association, emphasized that the University’s shadow
          <a
            href="https://www.browndailyherald.com/article/2022/04/browns-footprint-today-student-housing-taxation"
            >extends</a
          >
          well past its official property holdings, as students and graduate
          students proliferate further off College Hill.
        </p>

        <p>
          “Brown is the largest and wealthiest player around,” Cicchitelli said.
          “That affords it the ability to expand in ways that other players
          cannot.”
        </p>

        <p>
          The University “likes to say that they’re very open to community
          feedback,” Cicchitelli said. While “they’re open to conversation, … in
          terms of external efficacy, it’s lacking.”
        </p>

        <p>
          “I think there’s a longer strategic vision that they’re keeping
          private and they’re only sharing piecemeal bits here and there for the
          public,” Cicchitelli said.“I think there’s a longer strategic vision
          that they’re keeping private and they’re only sharing piecemeal bits
          here and there for the public,” Cicchitelli said.
        </p>

        <p>
          “Brown wouldn’t be Brown without Providence,” Cicchitelli added.
          “Providence wouldn’t be Providence without Brown.”
        </p>

        <p>
          “Brown wouldn’t be Brown without Providence,” Cicchitelli said.
          “Providence wouldn’t be Providence without Brown.”
        </p>

        <p>
          The University has “a constant set of relationships and
          communications” with neighborhood organizations, government officials
          and departments and key stakeholders, such as the PPS and 195 District
          Commissions, Carey said. For large-scale projects, with the
          <a
            href="https://www.browndailyherald.com/article/2022/09/brown-begins-planning-for-construction-of-new-life-sciences-building-in-jewelry-district"
            >integrated life sciences building</a
          >
          “front-and-center right now,” the University is engaging in extensive
          community outreach.
        </p>

        <p>
          Additionally, the University solicits community feedback when it
          creates its institutional master plans submitted every five years to
          the city, Carey said.
        </p>

        <p>
          “We’ve seen an unbounded expansion of the University,” Ward 1
          Councilman John Goncalves ’13 MA’15 said.
        </p>

        <p>
          “We all recognize Brown’s symbiotic relationship with the city of
          Providence and positive impact,” including job-creation, voluntary
          payments and public-private partnerships, Goncalves said.
        </p>

        <p>
          But he pointed to the problem of the “human displacement of the former
          denizens of Fox Point,” where a vibrant
          <a
            href="https://www.browndailyherald.com/article/2022/04/the-magnitude-of-the-community-that-we-had-fox-point-gentrification-urban-renewal"
            >immigrant community</a
          >
          once stood. College students priced out longtime residents as rents
          and property values rose. Highway construction and urban renewal also
          <a
            href="https://www.browndailyherald.com/article/2022/04/the-magnitude-of-the-community-that-we-had-fox-point-gentrification-urban-renewal"
            >displaced</a
          >
          many residents.
        </p>

        <p>
          The University’s property assessments are close to
          <a
            href="https://www.browndailyherald.com/article/2022/02/payments-for-tax-exempt-properties-reconsidered"
            >$1.3 billion</a
          >
          in total, according to the Finance Department.
        </p>

        <p>
          Brown, Goncalves said, could do more for Providence. “The thing that a
          lot of people would like to see is Brown pitching in more of its fair
          share to alleviate some of the burden that property taxpayers or
          taxpayers in the city have to shoulder.”
        </p>

        {% separator 'jewelry-district' %}

        <h2>Jewelry District</h2>

        <p>
          In 2004, the University acquired 70 Ship Street, its first purchase in
          the Jewelry District. Since then, Brown has become a major player in
          the area, with 17 properties — including a parking garage — west of
          the Providence River, according to
          <a
            href="https://www.brown.edu/Facilities/Facilities_Management/maps/#building/WILBOUR"
            >current campus maps</a
          >.
        </p>

        <p>
          “There was a strategic decision to think of our campus as having two
          elements: one based on College Hill and one based in the Jewelry
          District,” University Spokesperson Brian Clark said.
        </p>

        <p>
          The College Hill campus focuses on “undergraduate instruction, faculty
          research and student life” while the Jewelry District is in the
          process of becoming “a mixed-use environment that focuses on medical
          education, scientific research and … administrative space,” Clark
          said.
        </p>

        <p>
          “The Jewelry District itself is very different than most other
          neighborhoods,” said Sharon Steele, president of the Jewelry District
          Association. In the early 20th century, the Jewelry District was the
          city’s “center of manufacturing” but faced decline when the interstate
          was built, Steele said.
        </p>

        <p>
          I-195’s
          <a
            href="https://www.nytimes.com/2009/11/11/realestate/commercial/11iway.html"
            >relocation</a
          >
          opened up many parcels in the neighborhood. Though most developments
          have been residential, there is hope for new jobs and business
          activity to make the area “very much like the neighborhood that we
          used to be,” Steele added.
        </p>

        <p>
          The University hopes to bring “new life to that neighborhood and
          (support) city and state goals,” Clark added. Carey noted that parcels
          in the Jewelry District
          <a
            href="https://www.providencejournal.com/story/news/local/2022/07/01/brown-university-expands-downtown-footprint-16-million-purchase-jewelry-district-plans-build-new-lab/7780366001/"
            >purchased from Care New England this summer</a
          >
          will support research opportunities. There are “opportunities to do
          that in the Jewelry District in a way that is beneficial and is
          welcomed by the community.”
        </p>

        <p>
          TThe University aims to develop projects that create “both near-term
          construction jobs and long-term economic growth and sustainable
          activity,” Carey said.
        </p>

        <p>
          Brown’s role as an anchor tenant in the Rhode Island Department of
          Health laboratory building has enabled the developers to build out
          space for potential commercial entities, particularly commercial
          laboratory space, he explained.
        </p>

        <p>
          The University has engaged in similar developments at South Street
          Landing — a power plant that sat vacant for almost 20 years — and 225
          Dyer St., where Brown recently committed to leasing an additional
          floor for laboratory space, Carey said.
        </p>

        <figure>
          <img src="images/jewelry.jpg" />
          <figcaption>
            President Ruth Simmons prepares to break ground on a new building
            for Brown’s medical school.
            <cite
              ><a href="https://www.browndailyherald.com/author/alexbell"
                >Alex Bell</a
              >
              / Herald</cite
            >
          </figcaption>
        </figure>

        <p>
          Over time, Steele believes Brown’s Jewelry District properties will
          eventually resemble the campus on College Hill. “What we have is the
          most collaborative, communicative relationship that I could ever wish
          to have with any major institution in the state,” Steele said, citing
          the association’s work with Paxson and her administrative team. Steele
          said the University is a “partner,” and “they demonstrate it every
          single day.”
        </p>

        <p>
          The University informs the JDA of its plans years in advance, Steele
          said. “We have a seat at the table.”
        </p>

        <p>
          “We have the ability now to basically create a brand new neighborhood
          out of whole cloth, and that is a rare opportunity,” Steele said. “We
          feel that we could not have a better partner than we have in Brown.”
        </p>
        <p>
          “It is our mutual goal,” Steele said, “to basically make this place
          better than the way we have found it.”
        </p>
      </div>
    </div>

    <aside>
      <h2>Related Stories</h2>
      <div class="aside-content">
        <a
          class="related-article"
          href="https://www.browndailyherald.com/article/2022/04/we-didnt-choose-to-be-neighbors-a-history-of-browns-property-impact-on-the-east-side"
        >
          {% image "images/east-side.jpg" "" %}
          <span style="text-indent: -0.2em"
            >‘We didn't choose to be neighbors’: A history of Brown’s property
            impact on the East Side</span
          >
        </a>
        <a
          class="related-article"
          href="https://www.browndailyherald.com/article/2022/04/the-magnitude-of-the-community-that-we-had-fox-point-gentrification-urban-renewal"
        >
          {% image "images/fox-point.jpg" "" %}
          <span style="text-indent: -0.2em"
            >‘The magnitude of the community that we had': Fox Point,
            gentrification, urban renewal</span
          >
        </a>
        <a
          class="related-article"
          href="https://www.browndailyherald.com/article/2022/02/payments-for-tax-exempt-properties-reconsidered"
        >
          {% image "images/taxes.jpg" "" %} Payments for local tax-exempt
          properties reconsidered
        </a>
        <a
          class="related-article"
          href="https://www.browndailyherald.com/article/2022/09/brown-begins-planning-for-construction-of-new-life-sciences-building-in-jewelry-district"
        >
          {% image "images/jewelry-district.jpg" "" %} Brown begins planning for
          construction of new life-sciences building in Jewelry District
        </a>
      </div>
    </aside>

    <footer>
      <span>Copyright © 2022</span>
      <span>The Brown Daily Herald, Inc.</span>
      <div class="footer-bullet">•</div>
      <button id="to-top">Back to top</button>
    </footer>

    <noscript>
      <style>
        .map {
          --fill: var(--tan);
          opacity: 0.5 !important;
        }
        #map-roads {
          opacity: 0.15 !important;
        }
        .over-map {
          margin-top: 2em !important;
          background: transparent;
          color: inherit;
        }
        .over-map a {
          color: inherit;
        }
        .js-only {
          display: none;
        }
      </style>
    </noscript>

    <div class="maps">
      <svg
        viewBox="0 0 314.1592653589905 139.13084045264986"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g
          id="map-transform-wrapper"
          style="transform-origin: center"
          transform="scale(2) translate(40, -30)"
        >
          <image
            id="map-roads"
            xlink:href="assets/maps/roads.svg"
            width="314.1592653589905"
            height="160.21752962021856"
            x="0"
            y="0"
            style="opacity: 0.3"
          />
          <g
            id="map-properties"
            transform="translate(-142.92036732050474, -33.879346293600975)"
          >
            <g class="map" style="opacity: 1" id="first-map">
              <use href="#map-2022-raw" />
            </g>

            <g id="intro-maps" style="opacity: 0">
              <g class="map" id="map-1770">{% include_map '1770' %}</g>
              <g class="map" id="map-1770-1900">
                {% include_map '1770-1900' %}
              </g>
              <g class="map" id="map-1900">{% include_map '1900' %}</g>
              <g class="map" id="map-1920">{% include_map '1920' %}</g>
              <g class="map" id="map-1940">{% include_map '1940' %}</g>
              <g class="map" id="map-1940-1980">
                {% include_map '1940-1980' %}
              </g>
              <g class="map" id="map-1940-2000">
                {% include_map '1940-2000' %}
              </g>
              <g class="map" id="map-1960">{% include_map '1960' %}</g>
              <g class="map" id="map-1980">{% include_map '1980' %}</g>
              <g class="map" id="map-1980-2000">
                {% include_map '1980-2000' %}
              </g>
              <g class="map" id="map-2000">{% include_map '2000' %}</g>
            </g>

            <g id="modern-maps" style="opacity: 0">
              <g class="map" id="map-2002">{% include_map '2002' %}</g>
              <g class="map" style="opacity: 0" id="map-2004">
                {% include_map '2004' %}
              </g>
              <g class="map" style="opacity: 0" id="map-2006">
                {% include_map '2006' %}
              </g>
              <g class="map" style="opacity: 0" id="map-2008">
                {% include_map '2008' %}
              </g>
              <g class="map" style="opacity: 0" id="map-2010">
                {% include_map '2010' %}
              </g>
              <g class="map" style="opacity: 0" id="map-2012">
                {% include_map '2012' %}
              </g>
              <g class="map" style="opacity: 0" id="map-2014">
                {% include_map '2014' %}
              </g>
              <g class="map" style="opacity: 0" id="map-2016">
                {% include_map '2016' %}
              </g>
              <g class="map" style="opacity: 0" id="map-2018">
                {% include_map '2018' %}
              </g>
              <g class="map" style="opacity: 0" id="map-2020">
                {% include_map '2020' %}
              </g>
              <g class="map" style="opacity: 0" id="map-2022">
                {% include_map '2022' %}
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </body>
</html>
