:root {
  --red: #ED1803;
  --offwhite: #F5F3EF;
  --black: #000000;
}

@font-face {
  font-family: Lora-Pixel;
  src: url(LoraPixel.ttf);
  font-weight: bold;
}

body{
  margin: 0;
  padding: 0;
  background-color: #F5F3EF;
  background-image: url("totally-legit-background.svg");
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

h1, h2, h3, h4{
  font-family: freight-display-pro; sans-serif;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2.2rem;
}

p{
  font-family: freight-text-pro, sans-serif;
}
#header{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#headline-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
}

#curtains{
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: rgba(245, 243, 239, 0.8);
}

#byline{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content{
  max-width: 650px;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


#to-top {
  border-style: none;
  background-color: transparent;
  color: black;
  padding: 0;
  text-decoration: underline;
}

#to-top:hover{
  opacity: 0.5;
  cursor: pointer;
}


#logo {
  width: 10vw;
}