:root {
  --red: #E50000;
  --offwhite: #F5F3EF;
  --black: #000000;
  --brown: #8D5124;
  --offblack: #241B16;
  --tan: #E3D4BF;
}

@font-face {
  font-family: Redaction0;
  src: url(./fonts/Redaction-Italic.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction1;
  src: url(./fonts/Redaction_10-Italic.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction2;
  src: url(./fonts/Redaction_20-Italic.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction3;
  src: url(./fonts/Redaction_35-Italic.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction4;
  src: url(./fonts/Redaction_50-Italic.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction5;
  src: url(./fonts/Redaction_70-Italic.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction6;
  src: url(./fonts/Redaction_100-Italic.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Lora;
  src: url(./fonts/Lora-VariableFont_wght.ttf);
  font-weight: 400 700;
}
@font-face {
  font-family: Lora;
  src: url(./fonts/Lora-Italic-VariableFont_wght.ttf);
  font-style: italic;
  font-weight: 400 700;
}

.font-loader {
  opacity: 0;
  height: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F3EF;
  font-family: Lora, Georgia, 'Times New Roman', Times, serif;
  line-height: 1.3;
  font-size: 1em;
}
@media screen and (max-width: 768px) {
  .body {
      font-size: 2em;
    }
}

#intro-section1 {
  margin-bottom: 30vh;
  max-width: 650px;
  justify-content: center;
  margin: auto;
}
#intro-graph1 {
  margin-top: 40vh !important;
}
@media (max-width: 768px) {
  #intro-graph1 {
    margin-top: 30vh !important;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.map-properties path {
  fill: var(--fill, var(--red));
  stroke: var(--offwhite);
  stroke-width: 0.2;
}

.maps {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.maps::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%; height: 100%;
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 0.8943089430895341;
  /* background: linear-gradient(to right, #F5F3EF 0%, transparent 20%, transparent 80%, #F5F3EF 100%); */
}
.maps svg {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  height: 100%;
}

h1, h2, h3, h4{
  font-family: Redaction3, serif;
}

h1{
  font-family: Redaction3;
  line-height: 5rem;
  font-size: 5rem;
  color: var(--red);
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
h2{
  font-size: 2.2rem;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}

#header{
  height: 160vh;
}

.byline {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .byline {
    margin:auto;
    width: 60vw;
  }
}

#headline-wrapper{
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding-top: 10vh;
}

/* #sticky-header {
  top: 0;
  position: sticky;
} */

#curtains{
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  /* background-color: rgba(245, 243, 239, 0.8); */
}

#byline{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content{
  max-width: 650px;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  #footer > div {
    flex-direction: column !important;
  }
}


#to-top {
  border-style: none;
  background-color: transparent;
  color: black;
  padding: 0;
  text-decoration: underline;
}

#to-top:hover{
  opacity: 0.5;
  cursor: pointer;
}

#logo{
  width: 20vw;
  display: block;
  margin: auto;
}
@media (max-width: 768px) {
  #logo {
    width: 80vw;
  }
}

.over-map {
  color: var(--offwhite);
  background-color: var(--offblack);
  padding: 1.5em;
  margin-inline: -1.5em;
  margin-top: 70vh;
}
@media (max-width: 768px) {
  .over-map {
    margin-top: 90vh;
  }
}

.over-map a {
  color: var(--offwhite);
}

hr {
  height: 30vh;
  border: none;
}

#debug-overlay {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 1.2em;
}

#year {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 2em;
  font-family: Redaction3;
  color: var(--red);
}

a {
  color: var(--red);
}

.over-map-in {
  margin-top: 2em;
  background-color: var(--offwhite);
  color: var(--offblack);
  padding: 1.5em
}

.separator {
  display: block;
  margin: auto;
  margin-bottom: 0;
  margin-top: 2em;
}

.separator > path {
  fill: var(--red);
  stroke: var(--offwhite);
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 80%;
  height: 10px; /* Specified height */
  background: var(--tan); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 100px;
  background: var(--red);
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--red); 
  cursor: pointer; /* Cursor on hover */
}

.map-slider {
  height: 100vh;
}